$hover-color: #F58220;
$primary-color: #005aa6;
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background-color: aquamarine;
}
@mixin flex($align: flex-start, $justify: flex-start, $direction: row, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
.wrapper {
    width: 100%;
    max-width: 1400px;
    background-color: white;
}  
.header {
    padding-top: 20px;
    max-width: 1110px;
    margin: 0 auto;
    &__menu {

    }
    &__lang {
        
        &-list {
            @include flex(center, flex-end)
        }
        &-item {
            margin-left: 16px;
            font-size: 1.4rem;
            color: $hover-color;  
            &-phone {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }
            &:last-child {
                color: #ccc;
                margin-left: 25px;
            }
           
        }

    }
    &__inner {
        @include flex(flex-end, space-between);
        padding-bottom: 10px;
    }
    &__navbar {
        &-list {
            @include flex(center);
            position: relative;
        }
        &-item {
            margin-left: 3rem;
            padding-bottom: 10px;
            display: block;
            &:hover .header__navbar-child {
                visibility: visible;
                opacity: 1;
            }

        }
        &-link {
            color: $primary-color;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
                color: $hover-color;
            }
        }
        &-child {
            position: absolute;
            background-color: $primary-color;
            top: 34px;
            word-wrap: normal;
            border-radius: 3px;
            visibility: hidden;
            opacity: 0;
            transition: .25s linear;
            &::before {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 20px;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 8px solid $primary-color;
            }
            &-item{

                &:hover {
                    background-color: cornflowerblue;
                }
            }
            &-link {
                color: white;
                font-size: 1.4rem;
                display: block;
                padding: 15px;
            }
        }
    }
}
