html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: gray;
}

.wrapper {
  width: 100%;
  background-color: white;
  margin: 0 auto;
}
.wrapper__inner {
  max-width: 1400px;
}

.header {
  padding-top: 20px;
  max-width: 1110px;
  margin: 0 auto;
}
.header__lang-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__lang-item {
  margin-left: 16px;
  font-size: 1.4rem;
  color: #F58220;
}
.header__lang-item-phone {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.header__lang-item:last-child {
  color: #ccc;
  margin-left: 25px;
}
.header__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 10px;
}
.header__navbar-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.header__navbar-item {
  margin-left: 3rem;
  padding-bottom: 10px;
  display: block;
}
.header__navbar-item:hover .header__navbar-child {
  visibility: visible;
  opacity: 1;
}
.header__navbar-link {
  color: #005aa6;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header__navbar-link:hover {
  color: #F58220;
}
.header__navbar-child {
  z-index: 999;
  position: absolute;
  background-color: #005aa6;
  top: 34px;
  word-wrap: normal;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s linear;
}
.header__navbar-child::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #005aa6;
}
.header__navbar-child-item:hover {
  background-color: cornflowerblue;
}
.header__navbar-child-link {
  color: white;
  font-size: 1.4rem;
  display: block;
  padding: 15px;
}

.slideshow {
  width: 100%;
  position: relative;
  background-color: #ccc;
}
.slideshow:hover .slideshow__nav--prev {
  opacity: 1;
  visibility: visible;
}
.slideshow:hover .slideshow__nav--next {
  opacity: 1;
  visibility: visible;
}
.slideshow:hover .slideshow__select {
  opacity: 1;
  visibility: visible;
}
.slideshow__item {
  display: block;
}
.slideshow__item-image {
  width: 100%;
}
.slideshow__item-text {
  position: absolute;
  top: 70%;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  padding: 25px 15px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.slideshow__item-text-heading {
  font-size: 5rem;
  font-weight: 600;
}
.slideshow__item-text-desc {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 15px;
}
.slideshow__nav--prev, .slideshow .slideshow__nav--next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  text-align: center;
  height: 40px;
  width: 40px;
  margin-left: 20px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transform: translateY(-50%);
  border-radius: 50%;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear;
}
.slideshow__nav--prev:hover, .slideshow .slideshow__nav--next:hover {
  background-color: #000000;
}
.slideshow__nav--next {
  top: 50%;
  right: 0;
  margin-right: 20px;
}
.slideshow__select {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear;
}
.slideshow__select-dot {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #b3b3b3;
  border: #e9e9e9 4px solid;
  z-index: 999;
  text-align: center;
  margin: 5px;
}
.slideshow__select-dot:hover {
  background-color: #3d3d3d;
}

/*# sourceMappingURL=index.css.map */
